<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "TrendFlares" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js">
    </script>
    <script src="https://kraaden.github.io/autocomplete/autocomplete.js">
    </script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://kraaden.github.io/autocomplete/autocomplete.css"
    />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="[https://www.googletagmanager.com/gtag/js?id=G-VGWWYEV3TS](https://www.googletagmanager.com/gtag/js?id=G-VGWWYEV3TS)"
    >
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-VGWWYEV3TS');
    </script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4616952319773975"
      crossorigin="anonymous"
    >
    </script>
    <script defer data-domain="trendflares.com" src="https://plausible.io/js/script.js">
    </script>
  </head>
  <body class="">
    <div>
      <%= @inner_content %>
    </div>
  </body>
</html>
